group=PLACEHOLDER_GROUP
commit.interval=1s
read.timeout=5s
write.timeout=5s
connect.timeout=5s
keep.alive=true
keep.alive.timeout=1m
max.connections=5
max.broker.connections=5
fetch.size=1024000
fetch.min.bytes=0
fetch.max.wait=1000
metadata.retries=5
metadata.backoff=200ms
commit.retries=5
commit.backoff=200ms
consumer.metadata.retries=15
consumer.metadata.backoff=500ms
client.id=partition-consumer
broker.list=PLACEHOLDER_HOST:PLACEHOLDER_PORT